ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.item-list-container {
  background-color: #f8f9fa; /* Un fondo claro */
  border: 1px solid #dee2e6; /* Borde suave */
  padding: 20px; /* Espacio alrededor del contenido */
  margin: 20px; /* Separación del resto del contenido */
  text-align: center; /* Centrar el texto */
  font-size: 18px; /* Tamaño del texto */
  color: #343a40; /* Color de texto oscuro */
}
